Repository processing/p5.js-web-editor, pull requests merged in 2024-03, with the labels that each got.

#3032 Convert `user.controller.js` to `async`/`await` syntax.
  server/config/passport.js
  server/controllers/user.controller.js
  server/models/user.js
Labels: type:task, code quality, area:backend

#3022 Delete unused callback on `isSlugUnique` function
  server/models/project.js
Labels: code quality, area:backend

#2930 fixed scroll
  client/modules/Legal/components/PolicyContainer.jsx
Labels: Bug, Mobile, Area:CSS

#2699 Converted 'About Block' into all available language
  client/modules/IDE/components/About.jsx
  translations/locales/be/translations.json
  translations/locales/de/translations.json
  translations/locales/en-US/translations.json
  translations/locales/es-419/translations.json
  translations/locales/fr-CA/translations.json
  translations/locales/hi/translations.json
  translations/locales/it/translations.json
  translations/locales/ja/translations.json
  translations/locales/ko/translations.json
  translations/locales/pt-BR/translations.json
  translations/locales/sv/translations.json
  translations/locales/tr/translations.json
  translations/locales/uk-UA/translations.json
  translations/locales/zh-CN/translations.json
  translations/locales/zh-TW/translations.json
Labels: Area: Translation

#2875 fix signup issue
  translations/locales/be/translations.json
Labels: Area: Translation

#3071 Deepan190703/fix .mtl
  client/modules/IDE/components/Editor/index.jsx
  server/utils/fileUtils.js
  translations/locales/be/translations.json
  translations/locales/en-US/translations.json
  translations/locales/es-419/translations.json
  translations/locales/hi/translations.json
  translations/locales/ja/translations.json
Labels: Enhancement, Area:Editor

#2932 Fix : [#2866] Change width to 100%
  client/styles/components/_keyboard-shortcuts.scss
Labels: Bug, Area: Mobile, Area:CSS

#3042 Centralised Breakpoints using useIsMobile hook
  client/components/Dropdown/TableDropdown.jsx
  client/modules/IDE/components/Header/Nav.jsx
  client/modules/IDE/components/Header/index.jsx
  client/modules/IDE/hooks/useIsMobile.js
  client/modules/IDE/pages/IDEView.jsx
  client/modules/User/components/DashboardTabSwitcher.jsx
  client/modules/User/pages/DashboardView.jsx
Labels: Create Release Environment, Area: Mobile, Area: Code Quality
