Repository processing/p5.js-web-editor, pull requests merged in 2024-01, with the labels that each got.

#2187 Install and configure Redux Toolkit
  client/middleware.js
  client/modules/App/App.jsx
  client/modules/IDE/selectors/collections.js
  client/modules/IDE/selectors/files.js
  client/modules/IDE/selectors/project.js
  client/modules/IDE/selectors/projects.js
  client/modules/IDE/selectors/users.js
  client/store.js
  package-lock.json
  package.json
Labels: dependencies, Create Release Environment

#2741 Added support for Urdu language
  client/i18n.js
  translations/locales/ur/translations.json
Labels: type:task, translation

#2822 Fix Button with `display="inline"` to use the same styles as the regular button
  client/common/Button.jsx
  client/common/IconButton.jsx
Labels: code quality

#2892 Saving unsaved Sketch before signing in with Oauth.
  client/modules/User/components/SocialAuthButton.jsx
Labels: Enhancement

#2696 Hindi translations: Legal
  translations/locales/hi/translations.json
Labels: type:task, translation

#2330 Fix: Translation of "Web editor"
  translations/locales/it/translations.json
  translations/locales/ja/translations.json
  translations/locales/uk-UA/translations.json
  translations/locales/zh-TW/translations.json
Labels: translation

#2691 Fix/#2609 'About' translation fixes
  client/modules/IDE/components/About.jsx
  translations/locales/en-US/translations.json
  translations/locales/hi/translations.json
Labels: type:task, translation

#2315 Fix #2314 by ignoring deleted assets in zip download
  server/controllers/project.controller.js
Labels: Bug

#2917 Fix : [#2698] Change minsize 125 to 150
  client/modules/IDE/pages/IDEView.jsx
Labels: design, area:css

#2429 feat: Remove deprecated node-sass package, migrated to Sass #2392
  Dockerfile
  client/styles/abstracts/_placeholders.scss
  client/styles/base/_base.scss
  client/styles/components/_about.scss
  client/styles/components/_account.scss
  client/styles/components/_api-key.scss
  client/styles/components/_asset-list.scss
  client/styles/components/_asset-size.scss
  client/styles/components/_collection-create.scss
  client/styles/components/_collection.scss
  client/styles/components/_console-input.scss
  client/styles/components/_console.scss
  client/styles/components/_copyable-input.scss
  client/styles/components/_dashboard-header.scss
  client/styles/components/_editable-input.scss
  client/styles/components/_editor.scss
  client/styles/components/_error-modal.scss
  client/styles/components/_feedback.scss
  client/styles/components/_form-container.scss
  client/styles/components/_forms.scss
  client/styles/components/_hints.scss
  client/styles/components/_keyboard-shortcuts.scss
  client/styles/components/_loader.scss
  client/styles/components/_modal.scss
  client/styles/components/_nav.scss
  client/styles/components/_new-password.scss
  client/styles/components/_overlay.scss
  client/styles/components/_p5-contrast-codemirror-theme.scss
  client/styles/components/_preferences.scss
  client/styles/components/_preview-frame.scss
  client/styles/components/_preview-nav.scss
  client/styles/components/_quick-add.scss
  client/styles/components/_reset-password.scss
  client/styles/components/_searchbar.scss
  client/styles/components/_share.scss
  client/styles/components/_sidebar.scss
  client/styles/components/_sketch-list.scss
  client/styles/components/_tabs.scss
  client/styles/components/_timer.scss
  client/styles/components/_toast.scss
  client/styles/components/_toolbar.scss
  client/styles/layout/_dashboard.scss
  client/styles/main.scss
  package-lock.json
  package.json
Labels: dependencies, Create Release Environment
