Repository processing/p5.js-web-editor, pull requests merged in 2025-03, with the labels that each got.

#3340 Fix Login Page Translation Error: "Invalid Username or Password"
  client/modules/User/components/LoginForm.jsx
  translations/locales/be/translations.json
  translations/locales/en-US/translations.json
  translations/locales/hi/translations.json
Labels: Area: Translation

#3362 fix: reset search match counter when switching files (issue #3361)
  client/utils/codemirror-search.js
Labels: Bug, Area:Editor

#3396 Fix code selection background colors
  client/styles/components/_p5-contrast-codemirror-theme.scss
  client/styles/components/_p5-dark-codemirror-theme.scss
  client/styles/components/_p5-light-codemirror-theme.scss
Labels: Area:Accessibility, Area:CSS

#3412 fixed entire Bengali translation that is accessible to native speakers
  translations/locales/be/translations.json
Labels: Area: Translation

#3352 Convert Editor to functional, splits off CodeMirror code into its own file
  client/modules/IDE/components/Editor/codemirror.js
  client/modules/IDE/components/Editor/index.jsx
Labels: Area:Editor

#3397 Enhance hover effect on console Clear button #2592
  client/styles/components/_console.scss
Labels: Area:Accessibility, Area:CSS
